.nav {
  grid-area: nav;
  background-color: pink;
  display: flex;
  flex-direction: column;
  padding: 20px;
  /*margin: 10px 10px 0 0;*/
}
.links{
  list-style: none;
}
.link a {
  color: white;
  text-decoration: none;
}
a.activeLink {
  color: darkgoldenrod;
}
